.marquee-section .slick-slider{
    margin-bottom: 0;   
}
.slick_marquee_wrapper div{
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}
.marquee-section{
  overflow: hidden;
}
@media only screen and (max-width: 992px){
  .slick_marquee_wrapper div{
    font-size: 20px;
  } 
}
@media only screen and (max-width: 768px){
  .slick_marquee_wrapper div{
    font-size: 16px;
  } 
}