
  /* Padding Margin */
  .pt-30 {
    padding-top: 30px;
  }
  
  .pb-30 {
    padding-bottom: 30px;
  }
  
  .pt-60 {
    padding-top: 60px;
  }
  
  .pb-60 {
    padding-bottom: 60px;
  }
  
  .pt-120 {
    padding-top: 120px;
  }
  
  .pb-120 {
    padding-bottom: 120px;
  }
  
  .mt-30 {
    margin-top: 30px;
  }
  
  .mt--30 {
    margin-top: -30px;
  }
  .mt-40{
    margin-top: 40px;
  }
  .mb-40{
    margin-bottom: 40px;
  }
  .mt-60 {
    margin-top: 60px;
  }
  
  .mb-60 {
    margin-bottom: 60px;
  }
  
  .mt-120 {
    margin-top: 120px;
  }
  
  .mb-120 {
    margin-bottom: 120px;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .mr-auto {
    margin-right: auto;
  }
  
  @media (max-width: 991px) {
    .mt-120 {
      margin-top: 100px;
    }
  
    .mb-120 {
      margin-bottom: 100px;
    }
  
    .pt-120 {
      padding-top: 100px;
    }
  
    .pb-120 {
      padding-bottom: 100px;
    }
  
    .pt-60 {
      padding-top: 50px;
    }
  
    .mt-60 {
      margin-top: 50px;
    }
  
    .pb-60 {
      padding-bottom: 50px;
    }
  
    .mb-60 {
      margin-bottom: 50px;
    }
  
    .p-60 {
      padding: 50px;
    }
  }
  @media (max-width: 767px) {
    .mt-120 {
      margin-top: 80px;
    }
  
    .mt-60 {
      margin-top: 30px;
    }
  
    .mb-120 {
      margin-bottom: 80px;
    }
  
    .pt-120 {
      padding-top: 80px;
    }
  
    .pb-120 {
      padding-bottom: 80px;
    }
  
    .pt-60 {
      padding-top: 50px;
    }
  
    .pb-60 {
      padding-bottom: 50px;
    }
  
    .mt-60 {
      margin-top: 50px;
    }
  
    .mb-60 {
      margin-bottom: 50px;
    }
  }


a{
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  transition:0.3s all ease-in;
  text-decoration: none;
  color: var(--link-color);
}
a:hover, a:focus{
  color: var(--link-hv-color);
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  transition:0.3s all ease-in;
  text-decoration: none;
}

.placeholder-svg{
  display: block;
  height: 100%;
  width: 100%;
  background-color: #DFC8E7;
}

.absolute-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index:2;
}


[data-overlay] {
  position: relative;
}
[data-overlay]:before {
  position: absolute;
  content: '';
  background:#000000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}


[data-overlay="1"]:before {
  opacity: 0.1;
}
[data-overlay="2"]:before {
  opacity: 0.2;
}
[data-overlay="3"]:before {
  opacity: 0.3;
}
[data-overlay="4"]:before {
  opacity: 0.4;
}
[data-overlay="5"]:before {
  opacity: 0.5;
}
[data-overlay="6"]:before {
  opacity: 0.6;
}
[data-overlay="7"]:before {
  opacity: 0.7;
}
[data-overlay="8"]:before {
  opacity: 0.8;
}
[data-overlay="9"]:before {
  opacity: 0.9;
}
[data-overlay="10"]:before {
  opacity: 1;
}
[data-overlay="0"]:before {
  opacity: 0;
}


@media (min-width: 992px){
  .container {
    max-width: 1100px;
  }

}


@media (min-width: 1200px){
  .container {
    max-width: var(--page-width);
 }

}



b, strong {
  font-weight: bold;
}


body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 15px;
  line-height: 22px;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  background-color: var(--body-bg-color);
  color: var(--body-color);
}

@media screen and (min-width: 750px) {
  body {
    font-size: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5, 
.h6 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  text-transform: var(--heading-text-transfrom);
  word-break: break-word;
  color: var(--heading-color);
}

h1,
.h1 {
  font-size: 30px;
  line-height: 40px;
}

@media only screen and (min-width: 750px) {
  h1,
  .h1 {
    font-size: 80px;
    line-height: 100px;
  }
}

h2,
.h2 {
  font-size: 24px;
  line-height: 34px;
}

@media only screen and (min-width: 750px) {
  h2,
  .h2 {
    font-size: 46px;
    line-height: 60px;
  }
}

h3,
.h3 {
  font-size: 24px;
  line-height: 34px;
}

@media only screen and (min-width: 750px) {
  h3,
  .h3 {
    font-size: 30px;
    line-height: 40px;
  }
}

h4,
.h4 {
  font-size: 20px;
  line-height: 24px;
}

h5,
.h5 {
  font-size: 20px;
  line-height: 24px;
}

@media only screen and (min-width: 750px) {

  h4,
.h4 {
  font-size: 26px;
  line-height: 32px
}


  h5,
  .h5 {
    font-size: 20px;
    line-height: 24px;
  }
}

h6,
.h6 {
  color: rgba(var(--color-foreground), 0.75);
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

.btn{
font-family: var(--font-btn-family);
font-style: var(--font-btn-style);
font-weight: var(--font-btn-weight);
border-radius: var(--btn-border-radius);
text-transform: var(--btn-text-transfrom);
font-size: 15px;
line-height: 18px;
text-align: center;
-webkit-transition: 0.3s all ease-in;
-moz-transition: 0.3s all ease-in;
transition:0.3s all ease-in;
padding: 11px 49px;
}
.btn:hover, .btn:focus{
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  transition:0.3s all ease-in;
}

.btn--small{
  padding: 8px 30px;
}


.btn--primary{
  background-color: var(--primary-button-bg-color);
  border: 2px solid var(--primary-button-border-color);
  color: var(--primary-button-color);
}

.btn--primary:hover, .btn--primary:focus{
  background-color: var(--primary-hover-button-bg-color);
  border: 2px solid var(--primary-hover-button-border-color);
  color: var(--primary-hover-button-color);
}

.btn--primary svg{
  fill:var(--primary-button-color);
}

.btn--primary:hover svg, .btn--primary:focus svg{
  fill:var(--primary-hover-button-color);
}



.btn--secondary{
  background-color: var(--secondary-button-bg-color);
  border: 2px solid var(--secondary-button-border-color);
  color: var(--secondary-button-color);
}

.btn--secondary:hover, .btn--secondary:focus{
  background-color: var(--secondary-hover-button-bg-color);
  border: 2px solid var(--secondary-hover-button-border-color);
  color: var(--secondary-hover-button-color);
}

.btn--secondary svg{
  fill:var(--secondary-button-color);
}

.btn--secondary:hover svg, .btn--secondary:focus svg{
  fill:var(--secondary-hover-button-color);
}

.btn--theme{
  background-color: var(--theme-button-bg-color);
  border: 2px solid var(--theme-button-border-color);
  color: var(--theme-button-color);
}

.btn--theme:hover, .btn--theme:focus{
  background-color: var(--theme-hover-button-bg-color);
  border: 2px solid var(--theme-hover-button-border-color);
  color: var(--theme-hover-button-color);
}
.btn--theme svg{
  fill:var(--theme-button-color);
}

.btn--theme:hover svg, .btn--theme:focus svg{
  fill:var(--theme-hover-button-color);
}
button:focus{
  outline: none;

}

/* payment button */

.shopify-payment-button__button {
  font-family: var(--font-btn-family);
  font-style: var(--font-btn-style);
  font-weight: var(--font-btn-weight);
  border-radius: var(--btn-border-radius) !important;
  text-transform: var(--btn-text-transfrom);
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  transition:0.3s all ease-in;
  padding: 11px 49px;
  background-color: var(--theme-button-bg-color) !important;
  border: 2px solid var(--theme-button-border-color) !important;
  color: var(--theme-button-color) !important;

}
.shopify-payment-button__button:hover, .shopify-payment-button__button:focus{
  background-color: var(--theme-hover-button-bg-color) !important;
  border: 2px solid var(--theme-hover-button-border-color) !important;
  color: var(--theme-hover-button-color) !important;
}




.newsletter-form__field-wrapper{
  background: #FFFFFF;
  border-radius: var(--btn-border-radius);
  padding: 5px;
}


.newsletter-form__button{
  background: #FFFF00 !important;
  border-radius: var(--btn-border-radius);
  width: 60px !important;
  transition: 0.3s all ease-in;
}
.newsletter-form__button:hover,
.newsletter-form__button:focus{
  background: #000 !important;
  transition: 0.3s all ease-in;

}

.newsletter-form__button svg>path{
  transition: 0.3s all ease-in;
}
.newsletter-form__button:hover svg>path,
.newsletter-form__button:focus svg>path{
  stroke: #FFFFFF;
  transition: 0.3s all ease-in;
}

.newslatter-wrapper{
  max-width: 400px;
}